.topbar {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: linear-gradient(45deg, #ffc700 0%, #e91e1e 100%);
  font-size: 1 rem;
  background: linear-gradient(45deg, var(--colorA), var(--colorC), var(--colorF));
  animation: change 10s infinite linear;
}

@property --colorA {
  syntax: '<color>';
  inherits: false;
  initial-value: fuchsia;
}

@property --colorC {
  syntax: '<color>';
  inherits: false;
  initial-value: #f79188;
}

@property --colorF {
  syntax: '<color>';
  inherits: false;
  initial-value: red;
}

@keyframes change {
  20% {
    --colorA: red;
    --colorC: #a93ee0;
    --colorF: fuchsia;
  }

  40% {
    --colorA: #ff3c41;
    --colorC: #e228a0;
    --colorF: #2e4c96;
  }

  60% {
    --colorA: orange;
    --colorC: green;
    --colorF: teal;
  }

  80% {
    --colorA: #ae63e4;
    --colorC: #0ebeff;
    --colorF: #efc371;
  }
}

.topbar .addannounce {
  /* border: 1px solid ; */
  padding: 15px 10px;
  cursor: pointer;
  box-shadow: 1px 1px 3px;
  border-radius: 10px;
}

.topbar .addannounce:hover {
  box-shadow: 1px 1px 10px;
}

.topbar .addmessage {
  position: absolute;
  right: 0px;
  /* background-color: #e67e22; */
  transition: box-shadow 0.3s;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-right: 200px;
  box-shadow: 1px 1px 3px;
}

.topbar .addmessage:hover {
  box-shadow: 1px 1px 10px;
}

.topbar .user-title {
  position: absolute;
  left: 0px;
  margin-left: 200px;
}

.topbar .user-title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  /* transition: all 0.5s; */
}

.topbar .user-title img:hover {
  /* transform: rotateZ(360deg); */
}

.userInfoDiv {
  position: absolute;
  top: 54px;
  /* opacity: 0; */
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 1px 1px 5px #000;
  transform-origin: top center;
  transform: scale(1, auto);
  animation: User 0.2s linear;
}

@keyframes User {
  0% {
    transform: scale(1, 0);
    /* top: 44px;
    opacity: 0; */
  }

  100% {
    transform: scale(1, auto);
    /* top: 54px;
    opacity: 1; */
  }
}

.userInfoDiv .userInfoDiv-title {
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: bold;
  color: #e67e22;
}

.userInfoDiv .userInfoDiv-fans {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.userInfoDiv .userInfoDiv-fans div {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e67e22;
}

.userInfoDiv .userInfoDiv-fans div:nth-child(2) {
  color: pink;
}

.userInfoDiv .userInfoDiv-fans div i {
  font-style: normal;
}

.userInfoDiv .userInfoDiv-fans div i:nth-child(1) {
  font-size: 1.5rem;
}

.userInfoDiv .userInfoDiv-fans div:hover i:nth-child(1) {
  animation: Clickfd 0.5s;
}

/* 左右摇晃 */
@keyframes Clickfd {
  0% {
    top: 0px;
  }

  10% {
    top: -3px;
  }

  20% {
    top: -6px;
  }

  30% {
    top: -9px;
  }

  40% {
    top: -12px;
    transform: rotate(10deg);
  }

  50% {
    top: -15px;
    transform: rotate(20deg);
  }

  60% {
    top: -18px;
    transform: rotate(10deg);
  }

  70% {
    top: -21px;
    transform: rotate(0deg);
  }

  80% {
    top: -24px;
    transform: rotate(-10deg);
  }

  90% {
    top: -27px;
    transform: rotate(-20deg);
  }

  100% {
    top: -30px;
    transform: rotate(-10deg);
  }
}

/* 放大缩小 */
@keyframes scaleDraw {
  0% {
    transform: scale(1);
    /*开始为原始大小*/
  }

  25% {
    transform: scale(1.3);
    /*放大1.1倍*/
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }
}

.userInfoDiv-usercenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

.userInfoDiv-usercenter .userInfoDiv-user-center {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.userInfoDiv-usercenter .userInfoDiv-user-center:hover {
  background-color: rgba(227, 229, 231, 1);
  border-radius: 5px;
}

.logout {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.messagemeun {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messagemeun > div {
  width: 750px;
  padding: 10px;
  display: flex;
  justify-content: right;
}

.messagemeun > div i {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.messagemeun form {
  width: 750px;
  height: auto;
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messagemeun form.active {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

.messagemeun form > div {
  width: 700px;
}

.messagemeun form > div textarea {
  width: 100%;
  height: 328px;
  resize: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  text-indent: 1em;
  border-radius: 5px;
  /* padding-left: 16px; */
  /* padding: 16px 16px 0 0; */
}

.messagemeun form > div input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  /* border-radius: 5px; */
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  font-size: 25px;
  font-weight: 50;
  text-indent: 1em;
}

.addBtn {
  display: flex;
  justify-content: center;
}

.addBtn div {
  padding: 10px 20px;
  background-color: #2980b9;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 300px;
  color: #fff;
}

.addBtn div:hover {
  background-color: #3498db;
}
