.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.back {
  position: absolute;
  left: 0px;
  margin: 10px 200px;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.form {
  position: absolute;
  top: 100px;
  width: 600px;
}

.titletext {
  display: flex;
}