* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.form {
  position: absolute;
  top: 100px;
  width: 600px;
}

.title {
  display: flex;
}
