* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: '思源宋体';
  src: url(../font/Source_Han_Serif_CN_VF_Regular.ttf);
}

@font-face {
  font-family: '毛笔行书';
  src: url(../font/胡敬礼毛笔行书_爱给网_aigei_com.ttf);
}
@font-face {
  font-family: 'cocogoose';
  src: url(../font/cocogoose字体_爱给网_aigei_com.ttf);
}
@font-face {
  font-family: '硬笔';
  src: url(../font/立体铁山硬笔行楷简字体_爱给网_aigei_com.ttf);
}
@font-face {
  font-family: '楷体';
  src: url(../font/YeZiGongChangWangChunFengKaiShu-2.ttf);
}

body {
  background-color: rgba(255, 234, 167, 0.5);
  font-family: 'kaiti';
  min-width: 750px;
  min-height: 100vh;
  overflow-x: hidden;
}
