.loginreg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginreg > div:nth-child(1) {
  margin-top: 200px;
  height: 100%;
}
